<div class="row g-4">
  <div class="col-md-3">
    <div class="card shadow-sm p-3 text-center">
      <i class="fa fa-box fa-2x text-primary"></i>
      <h5 class="mt-2">Sản phẩm</h5>
      <p><%= productsCount %> sản phẩm</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm p-3 text-center">
      <i class="fa fa-shopping-cart fa-2x text-success"></i>
      <h5 class="mt-2">Đơn hàng</h5>
      <p><%= ordersCount %> đơn hàng</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm p-3 text-center">
      <i class="fa fa-ticket fa-2x text-warning"></i>
      <h5 class="mt-2">Voucher</h5>
      <p><%= vouchersCount %> voucher</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow-sm p-3 text-center">
      <i class="fa fa-star fa-2x text-danger"></i>
      <h5 class="mt-2">Đánh giá</h5>
      <p><%= reviewsCount %> reviews</p>
    </div>
  </div>
</div>
